body {
    background: linear-gradient(#0f0f1f 10%, #000);
    color: azure;
    font-family: 'Trattatello, fantasy';
    margin: 0px;
}
.header {
    font-size: 40px;
    background-color: #2f2f37;
    border-bottom: 2px solid azure ;
    margin-top: auto;
    text-align: center;
}
.new-task {
    background-color: #2f2f37;
    border-radius: 10px;
    border: 3px solid #313135;
    margin: 10px 0px 40px 0px;
    width: 450px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new-task p {
    text-align: center;
    height: 30px;
    width: 440px;
    font-size: 25px;
    margin: 15px 0px 10px 0px;
    border-bottom: 1px solid azure;
}
.input-task {
    background-color: #44444a;
    border: 2px solid #2f2f37;
    border-radius: 10px;
    width: 420px;
    height: 30px;
    margin-bottom: 10px;
    color: #fff;
}
.input-date, .save-task {
    background-color: #44444a;
    border: 2px solid #2f2f37;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    margin-bottom: 10px;
    color: azure;
}
.save-task:hover {
    border: 1px solid #fff;
    background-color:#054581a9;
}

.cards-of-tasks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.task {
    background-color: #2f2f37;
    border-radius: 10px;
    width: 300px;
    height: 180px;
    margin: 0px 10px 30px 20px;
    border: 3px solid #313135;
}
.date {
    margin: 8px 0px 5px 8px;
    height: 20px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    font-size: 16px;
    border-bottom: 2px solid azure;
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tasks {
    border-radius: 10px 10px 0px 0px;
    margin: 8px 10px 0px 10px;
}